@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts */
*{
    font-family: Azeret Mono;
    margin: 0;
}
/* banner */
/* portfolio.css */

/* Center content within .banner-container */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    padding: 26px 221px 45px;
}

/* Center the image within .banner-image */
.banner-image {
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    display: block;
    max-width: 100%; /* Ensure image does not exceed container */
}

.banner{
    background-image: url(assets/Hero-bg.png);
}

.banner-title{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}

.banner-detail{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-banner{
    border-radius: 8px;
    background-color: black;
    color: rgb(219, 219, 219);
    height: 65px;
    width: 244px;
    margin-top: 32px;
    /* margin-bottom: 35px; */
}

/* why web dev */
.journey{
    padding: 148px 74px 80px;
    background-color: rgb(243, 243, 243);
}
.web-container{
    margin: 80px 97px;
}
.web-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}
.goal-conatiner{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.goal{
    background: linear-gradient(to right, #ffffff, rgb(243, 243, 243));
    border-radius: 16px;
    display: flex;
    padding: 48px;
    justify-content: space-between;
}
.goal-detail{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
}
.btn-goal{
    height: 47px;
    width: 171px;
    padding: 12px 20px;
}
.goal-title{
    font-size: 24px;
    font-weight: bold;
}
/* my-current-target */
.my-current-target{
    margin: 0px 150px 49px;
}