@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts */
*{
    font-family: Azeret Mono;
    margin: 0;
}
/* banner */
/* portfolio.css */

/* Center content within .banner-container */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    padding: 26px 221px 45px;
}

/* Center the image within .banner-image */
.banner-image {
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    display: block;
    max-width: 100%; /* Ensure image does not exceed container */
}

.banner{
    background-image: url(assets/Hero-bg.png);
}

.banner-title{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}

.banner-detail{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-banner{
    border-radius: 8px;
    background-color: black;
    color: rgb(219, 219, 219);
    height: 65px;
    width: 244px;
    margin-top: 32px;
    /* margin-bottom: 35px; */
}

/* why web dev */
.journey{
    padding: 148px 74px 2px;
    background-color: rgb(243, 243, 243);
}
.web-container{
    margin: 80px 97px;
}
.web-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}
.goal-conatiner{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.goal{
    background: linear-gradient(to right, #ffffff, rgb(243, 243, 243));
    border-radius: 16px;
    display: flex;
    padding: 48px;
    justify-content: space-between;
}
.goal-detail{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
}
.btn-goal{
    height: 47px;
    width: 171px;
    padding: 12px 20px;
}
.goal-title{
    font-size: 24px;
    font-weight: bold;
}
/* My inspiration */
.inspiration{
    padding: 104px 152px;
    text-align: center;
}
.inspiration-video{
    border: 1px solid black;
    border-radius: 16px;
    padding: 32px;
}
.inspiration p{
    padding: 10px 0px 30px;
}
.inspiration h3{
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
}
/* my-current-target */
.my-current-target{
    margin: 0px 150px 49px;
}
.current-title{
    text-align: center;
    margin-bottom: 24px;

}
.current-detail{
    text-align: center;
    margin-bottom: 48px;
}
.tech-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.tech-item1{
    background-color: rgb(255, 222, 222);
    border-radius: 16px;
    height: 150px;
    width: 150px;
    padding: 40px;
}
.tech{
    margin-bottom: 24px;
}
#c1{
    background-color: rgb(199, 199, 255);
}
#c2{
    background-color: rgb(255, 255, 193);
}
/* footer */
.foot-icon{
    display: flex;
    gap: 4px;
} 
footer{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    padding: 32px 150px 0px;
}
/* support section */
.support{
    margin: 35px 150px;
    background-image: url("assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    height: 313px;
    width: 1140;
    border-radius: 16px;
    padding: 144px 48px 64px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.sup-title{
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.sup-detail{
    padding-top: 16px;
    padding-bottom: 24px;
    color: white;
    font-size: 16px;
}
.submit-duo{
    padding: 17px 20px;
    border-radius: 8px;
    border: none;
}